

export(calcAllocProb)
export(callMDI)
export(generateInitialLabels)
export(generateInitialSemiSupervisedLabels)
export(generateInitialUnsupervisedLabels)
export(getLikelihood)
export(plotLikelihoods)
export(predictFromMultipleChains)
export(processMCMCChain)
export(processMCMCChains)
export(runMCMCChains)
importFrom(ggplot2,aes_string)
importFrom(ggplot2,facet_wrap)
importFrom(ggplot2,geom_line)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,label_both)
importFrom(parallel,parLapply)
importFrom(stats,median)
importFrom(stats,rbeta)

useDynLib(tagmReDraft, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
